@media (min-width:500px) {
	body {
		background-color:yellow;
	}
}


@media(max-width:499px) {
	body {
		background-color:grey;
	}
}
button {
	background-color:red;
	width:100px;
	height:50px;
}

button:hover {
	background-color:yellow;
}

input[type=text] {
	background-color:pink;
}
input[type=number] {
	background-color:yellow;
}

h3 {
	text-align:center;
	font-family:Arial;
}
ol > li {
	
	font-size:18;
}
#top, #bottom {
	background-color:teal;
	margin:10px;
	padding:5px;
}

div {
	border:1px solid blue ;
}

h1,h2 {
	text-align:center;
	font-family:Arial,Tahoma;
	color:indigo;
}

.member {
	color:yellow;
}

table {
	background-color:grey;
	border:1px solid black;
	border-collapse:collapse;	
}
th,td {
	border:1px solid black;
	margin:10px;
	padding:5px;
	text-align:center;
}

